#mailto-underline {
    text-decoration: underline;
    color: #ff393b;
}

.contact-container {
    background-image: url('../images/contact\ achtergrond.png');
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: top;
}

.contact {
    padding: .75rem;
}