#mailto-underline {
    text-decoration: underline;
    color: #ff393b;
}

.contact-container {
    background-image: url('../images/backgrounds/background_contact.png');
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 100px;
}

.contact {
    padding: .75rem;
    height: 650px;
}