#portfolio__title {
  text-align: center;
  color: #ff393b;
  animation:
    glow-red 1s ease-in-out infinite alternate;
}

.portfolio-text-effect {
  text-align: center;
  overflow: hidden;
}

.portfolio-text-effect p {
  font-size: 100px;
  color: #ff393b;
  font-family: filicudi-solid, sans-serif;
  white-space: nowrap;
  font-weight: 1000;
  line-height: .7;
  transition: .5s ease all;
  opacity: .1;
  position: absolute;
  animation:
    right-left 120s linear infinite alternate;
}

.portfolio-text-effect p:last-child {
  -webkit-text-fill-color: transparent;
  color: transparent;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: #ff393b;
  padding-top: 70px;
  animation:
    left-right 120s linear infinite alternate;
}

.portfolio-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'one'
    'two';

  width: 100%;
  margin-inline: auto;
  padding-block: 2rem;
  margin-top: 150px;
}

@media screen and (min-width: 38em) {
  .portfolio-grid {
    grid-template-areas:
      'one two';
  }
}

.portfolio-card-container {
  padding: 20px;
}

.portfolio-card {
  background-color: #1a212f;
  height: 600px;
  width: 500px;
  padding: 10px;
  margin-left: auto; 
  margin-right: 0;
  color: white;
}

.portfolio-card h2 {
  font-size: 100px;
  font-family: coolvetica, sans-serif;
  font-weight: 1000;
  margin-left: -50px;
  margin-top: -50px;
  line-height: 1;
}

.portfolio-card mark {
  background-color: #3a4252;
}

.portfolio-card p {
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.2;
  padding: 5px;
}

.stroke-text {
  -webkit-text-fill-color: transparent;
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: white;
  font-size: 70px;
}