* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: #ff393b;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: ligurino, sans-serif;
    background-color: white;
    overflow-x: hidden;
}

#header-video {
    object-fit: cover;
    top: 0;
    position: absolute;
    min-width: 650px;
    display: none;
    z-index: 999;
}

.header-container {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

#logo {
    opacity: 0.5;
    position: fixed;
    top: 25px;
    left: 25px;
    width: 100px;
    z-index: 99;
}

.parent {
    position: relative;
    top: 0;
    min-width: 650px;
}

.aspect-ratio {
    width: 100%;
    height: auto;
}

.content-header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;

}

.button {
    margin-left: 8%;
    margin-top: 32%;
    border-radius: 30px;
    padding: 15px;
    font-size: 20px;
    background-color: #ff393b;
    border: none;
    color: white;
    font-family: ligurino;
    font-weight: 100;
    transition: 1s all;
    text-decoration: none;
}

.button:hover {
    background-color: #ffbbbd;
    cursor: pointer;
    transform: scale(0.95);
}

@media only screen and (max-width: 1100px) {
    .button {
        font-size: 12px;
        padding: 10px;
    }
}

.content {
    position: absolute;
    width: 100%;
    z-index: 2;
    margin-top: -5px;
    overflow-x: hidden;
}

.redspace {
    background-color: #ff393b;
    width: 100%;
}

.bg-500 {
    background-color: #ff393b;
}

.h-3 {
    height: 300px;
}

.h-6 {
    height: 600px;
}

.h-5 {
    height: 500px;
}

.h-8 {
    height: 800px;
}

.h-85 {
    height: 850px;
}

.h-9 {
    height: 900px;
}

.h-10 {
    height: 1000px;
}

.text-animator {
    color: #ff393b;
    line-height: 1.8;
}

.title-striped {
    font-family: filicudi-solid, sans-serif;
}

.title-solid {
    font-family: filicudi-solid, sans-serif;
}

.title {
    transition: all .5s ease;
    font-size: 70px;
}

mark {
    background-color: #ff393b;
    color: white;
}

@media(max-width: 1000px) {
    .title {
        font-size: 50px;
    }
}

@media(max-width: 600px) {
    .title {
        font-size: 35px;
    }
}

@media(max-width: 350px) {
    .title {
        font-size: 25px;
    }
}

.quote {
    background-image: url('../images/backgrounds/background_quote.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.quote-text {
    font-size: 42.5px;
    color: white;
    font-family: ligurino;
}

.quote-underline {
    font-size: 20px;
    color: rgb(221, 221, 221);
}

p {
    font-family: "forma-djr-micro", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.quote-container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.quote-container-text {
    margin: 0 auto;
    position: relative;
}

.border-left {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35px;
}

.border-left-reversed {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 35px;
}

.border-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
}

.border-right-reversed {
    position: absolute;
    top: 0;
    left: 0;
    height: 35px;
}

.border-top {
    width: 35px;
    position: absolute;
    top: 0;
    right: 0;
}

.border-top-reversed {
    width: 35px;
    position: absolute;
    top: 0;
    left: 0;
}

.border-bottom {
    width: 35px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.border-bottom-reversed {
    width: 35px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.border-left-white {
    border-left: 7.5px solid white;
}

.border-right-white {
    border-right: 7.5px solid white;
}

.border-top-white {
    border-top: 7.5px solid white;
}

.border-bottom-white {
    border-bottom: 7.5px solid white;
}

.border-left-red {
    border-left: 7.5px solid #ff393b;
    bottom: -20px;
    left: -25px;
}

.border-left-red-reversed {
    border-left: 7.5px solid #ff393b;
    bottom: -20px;
    right: -25px;
}

.border-right-red {
    border-right: 7.5px solid #ff393b;
    top: -10px;
    right: -15px;
}

.border-right-red-reversed {
    border-right: 7.5px solid #ff393b;
    top: -10px;
    left: -15px;
}

.border-top-red {
    border-top: 7.5px solid #ff393b;
    top: -10px;
    right: -15px;
}

.border-top-red-reversed {
    border-top: 7.5px solid #ff393b;
    top: -10px;
    left: -15px;
}

.border-bottom-red {
    border-bottom: 7.5px solid #ff393b;
    bottom: -20px;
    left: -25px;
}

.border-bottom-red-reversed {
    border-bottom: 7.5px solid #ff393b;
    bottom: -20px;
    right: -25px;
}

.text-red {
    color: #ff393b;
}

@media(max-width: 1000px) {
    .quote-text {
        font-size: 32.5px;
    }
}

@media(max-width: 650px) {
    .quote-text {
        font-size: 27.5px;
    }
}

@media(max-width: 500px) {
    .quote-text {
        font-size: 22.5px;
    }
}

@media(max-width: 350px) {
    .quote-text {
        font-size: 18px;
    }
}

.grecaptcha-badge {
    z-index: 9999;
}

video::-webkit-media-controls {
    display: none !important;
}

*::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}